{% extends "base.html" %}

{% block content %}
    <p class="lead">This page provides data and visuals to compare content and service provider data hosted on <a href="https://www.peeringdb.com/">PeeringDB</a>.</p>
  {% if error %}
      <h3>Error Found</h3>
      {{ error }}
  {% endif %}
  <form action="" method="POST">{% csrf_token %}
  {{ form.as_p }}
  <p><input type="submit" value="Query Org"></p>
  </form>


    {% if orgs %}
  <h3>Existing PeeringDB Queries</h3>
        {% for org in orgs %}
            <li><a href="/orgs/{{ org.id }}">{{ org }}</a></li>
        {% endfor %}
    {% endif %}

{% endblock %}